header {
  /* background-color: #222; */
  height: 130px;
  padding: 20px;
  color: white;
  background: linear-gradient(#232323, #222222);
}

header > span:first-child {
  display: inline-block;
  width:150px;
}

header > span:last-child {
  display: inline-block;
  width: calc(100% - 154px);
  text-align: center;
  vertical-align: top;
}