header > span:first-child {
  display: inline-block;
  width:150px;
}

header > span:nth-of-type(2) {
  display: inline-block;
  width: calc(100% - 154px);
  text-align: center;
  vertical-align: top;
}

header input[type=text]:focus {
	outline: 1px solid #777;
}