.Product {
	background: white;
}

.Product > h2,
.Product > p {
	display: inline-block;
	padding:20px 0;
	width:calc(100% - 220px);
	margin:0;
}
.Product figure {
	display: inline-block;
	width:200px;
	vertical-align: top;
}
.Product > h2,
.Product > p::first-letter {
	text-transform: capitalize;
}
.Product > p::first-letter {
	font-size: 1.4em;
}
.Product > p {
	font-size: 1.1em;
}
.Product > img {
	display: inline-block;
	width:220px;
	vertical-align: top;
	margin-top:-2em;
}

.Product > section {
  display: inline-block;
}
