body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  display: inline-block;
  width:80%;
  vertical-align: top;
}

nav a {
  text-decoration: none;
  color:white;
}


main > section > section {
  display: block;
}
main img {
  width:auto;
  max-width: 100%;
  margin:auto;
  display: block;
}
main > section > section > section:nth-of-type(1) {
  display:inline-block;
  width:30%;
}
/* [3] inline-block layout */
section > section > section ~ section {
  display:inline-block;
  width:70%;
  vertical-align: top;
}
main > section > section > section figure:nth-of-type(2) img {
  max-width: calc(33% - 6px);
  padding: 3px;
  display: inline-block;
}
